html {
    box-sizing: border-box;
    overflow-x: hidden!important;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    margin: 0 0;
    font-size: calc(0.5rem + 0.6vw);
}
footer {
    margin: auto 20px;
}
section, footer {
    background-size: cover;
}
article {
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}
h2, h3 {
    text-align: center;
}
.article-text {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    min-height: 580px;
    width: 55%;
    padding-top: 120px;
}
.parrallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url('../img/8.jpg');
}
.right {
    margin: auto 2% auto 43%;
}
.article-text p, .article-text ul {
    margin: 15px 15px 0px 15px;
    padding-bottom: 2px;
}
.article-text ul {
    padding: 0px 0px;
}
.article-text ul li {
    list-style: none;
    margin-top: 1%;
}
h1 {
    font-size: 90px;
    margin: auto auto ;
}
td {
    height: 20px;
}
#cover-page {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.705);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.39);
    color: whitesmoke;
    text-align: center;
    padding-top: 30vh;
    width: 100%;
    position: absolute;
    border-radius: 0px;
    margin-top: 55px;
    height: 100vh;
}
span {
    color: #3fc1c9;
}
#about {
    margin: auto auto;
    margin-top: 15px;
    height: 45vh;
}
.container {
    background: rgba(255, 255, 255, 0.719);
    height: 100%;
    padding-top: 90px;
}

.container-about {
    display: inline-block;
    background: rgba(245, 245, 245, 0.589);
    width: 100%;
    height: 22vh;
    margin: 11.5vh auto 11.5vh auto;
}
#contact h3 {
    margin: 20px 0 0 0;
}
#about p, footer p {
    padding-bottom: 20px;
    text-align: center;
    margin: 15px 25px 20px 25px;
}
#services {
    margin: auto auto;
    padding-top: 40vh;
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#services p {
    text-align: center;
    margin: 15px 25px auto 25px;
}
#services p:last-child {
    padding-bottom: 25px;
}
#services ul {
    text-align: center;
}
nav ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 10;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    text-align: center;
    position: fixed;
    font-size: 17px;
    width: 100vw;
    top: 0;
}
#firts-nav-ul-li {
    display: none;
}
nav ul li {
    display: inline-block;
    width: 20%;
    padding: 15px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}
#contact {
    padding-top: 18vh;
    background-image: url("../img/6.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    margin: auto auto auto auto;
    border-radius: 0;
}
#form-contact {
    width: 70%;
    margin: auto 15%;
}
textarea, input, select {
    width: 70%;
    margin: 2.5px 15% 2.5px 15%;
    border-radius: 5px;
    padding-left: 7px;
    border: 1.75px solid rgba(128, 128, 128, 0.822);
}
.contact-input-radio, #contact-input-checkbox {
    width: auto;
    margin: 5px 0;
    height: 10px;
}
select {
    height: 30px;
}
label {
    width: 150px;
    margin: auto 4%;
}
#container-input-radio, #container-input-checkbox{
    width: 70%;
    margin: 2.5px 15%;
    background-color: rgba(245, 245, 245, 0.836);
}
#container-input-checkbox {
    margin: 5px auto 10px auto;
    text-align: left;
}
textarea:hover, input:hover {
    border: 1.75px solid #cf7500;
}
textarea:link, input:link {
    border: 1.75px solid rgba(128, 128, 128, 0.822);
}
input {
    height: 30px;
}
#input-send {
    background-color: rgb(14, 67, 241);
    color: white;
    border: none;
    height: 40px;
    font-weight: 450;
    font-size: 17px;
}
video {
    height: 105vh;
    width: auto;
    display: inline-block;
    z-index: -10;
}
#container-video {
    width: 100vw;
    overflow-x: hidden!important;
    z-index: 1;
}
#title {
    padding-left: 2%;
    font-size: 55px;
    text-align: left;
}

@media(max-width: 612px) {
    #title {
        font-size: 40px;
        text-align: center;
    }
    .article-content img  {
        width: 100%;
        height: 700px;
        margin: auto auto;
        margin-bottom: 20px;
    }
    article {
        padding: 15px 25px;
        border-radius: 4px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 15px;
    }
    nav ul {
        font-size: 15px;
    }
    nav ul li {
        width: 100%;
    }
    section, footer {
        margin: auto 5px;
    }
    #form-contact {
        width: 90%;
        margin: auto 5%;
    }
    textarea, input, #container-input-radio, #container-input-checkbox, select {
        width: 100%;
        margin: 2.5px 0 2.5px 0;
    }
    label {
        margin: 0 6%;
    }
    td {
        height: 12px;
    }
    #firts-nav-ul-li {
        display: inline-block;
    }
    nav ul {
        height: 48px;
    }
    nav ul:hover, nav ul:active {
        height: auto;
    }
    nav ul > li {
        visibility: hidden;
    }
    nav ul:hover > li, nav ul:active > li {
        visibility: visible;
    }
    nav ul li:first-child {
        visibility: visible;
    }
    .article-text {
        width: auto;
    }
    .right {
        margin: auto;
    }
    video {
        width: auto;
        height: 105vh;
    }
}

@media(max-height: 500px) {
    #cover-page {
        padding-top: 10vh;
        margin-bottom: 15px;
    }
    video {
        width: 100vw;
        height: auto;
    }
}